<?xml version="1.0"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="sqlservercon" connectionString="Data Source=RIZON\SQLEXPRESS;Initial Catalog=WebWorkManager;Integrated Security=True"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime maxRequestLength="102400" executionTimeout="60" appRequestQueueLimit="100"/>
  <!--  <httpRuntime targetFramework="4.5"/>-->
  </system.web>
</configuration>